<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.site_name }}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/themes/{{ theme }}.css">
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="manifest" href="/static/site.webmanifest" />
</head>

<body>
    <div class="scanline"></div>

    <header>
        <nav>
            <a href="/" class="logo">{{ config.site_name }}</a>

            {% if config.show_routes_in_nav %}
            {% for item in routes %}
            <a href="{{ item.url }}">{{ item.name }}</a>
            {% endfor %}
            {% endif %}

            <span class="social-links">

                {% for social in config.social_links %}
                <a href="{{ social.url }}" target="_blank">{{ social.name }}</a>
                {% endfor %}

            </span>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>
            &copy; {{ config.copyright_year }} {{ config.author_name }} -
            <a href="/impressum">Imprint</a> |
            <a href="/privacy">Privacy Policy</a>
            {% if config.show_attribution %}
                | <a href="/fastblog">FastBlog</a>
            {% endif %}
        </p>
    </footer>
    <script src="/static/js/instant.js"></script>
    <script src="/static/js/decrypt.js"></script>
</body>

</html>